* {
  margin : 0;
  padding-left : 0.7px;
  box-sizing : border-box;
}
body {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 15px;
	line-height : 1.5;
  margin : 0;
  padding : 0s;
}
li{
	list-style : none;
}
.container {
	margin : auto;
	overflow : hidden;
}
header {
  border-bottom: 0.5px solid #000000;
  background: #6f0a0a91;
  
} 
header h1 {
  padding: 9px;
  margin-left: 35px;
}
.name{
 
 background-color: aquamarine;
 border-bottom: 0.5px solid #000000;
 padding: 0.9px;
 margin: 0;
}
.name h3 {
  color: #010101a6;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.name h3 span {
  font-size: 17px;
  float: inline-start;
}
main{
  padding-bottom: 20px;
  background-color: aqua;
  height: auto;
}
.question{
background-color: aquamarine;
border-bottom: 3px solid #000000;
padding: 20px;
float: left;
width: 80%;
align-items: center;

}
.result{
background-color: #f2f8f6;
border: 1px solid #000000;
padding: 10px;
margin: 0;
float: right;
width: 20%;
}
footer{
  border-top: 1px solid #000000;
  padding: 2px;
  text-align: center;
  background: #6f0a0a91;
  
}
